* {box-sizing: border-box;}

#tablist {
		list-style: none;
		display: flex;
	overflow: hidden;
	border: 1px solid #ccc;
	background: #f1f1f1;
}

#tablist .tab {
	background: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

#tablist .tab:hover {
	background #ddd;
}

#tablist .tab.active {
	background: #ccc;
}

.tabpanel {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.show {
	display: block;
}