* {box-sizing: border-box;}

.accordion-button {
	background: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	transition: 0.4s;
}

.accordion-button.active,
.accordion-header button:hover {
	background: #ccc;
}

.panel {
	padding: 0 18px;
	background: #fff;
	overflow: hidden;
	visibility: hidden;
	min-height: 0;
	transition: min-height .5s ease-out 0s, visibility 0s .5s;
}

.expanded {
	visibility: visible;
}