* {box-sizing: border-box;}

#player-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

#player #controls {
	display: flex;
}

#progress {
	width: 100%;
	background: grey;
	cursor: pointer;
	height: 30px;
	padding: 0;
	margin: 0;
}

.progressBar {
	width: 0;
	height: 30px;
	background: green;
}

.fullscreen {
	position: fixed;
	width: 100vw !important;
	height: 100vh;
	background: #000;
	top: 0;
	left: 0;
}